.Input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.Label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

.InputEl {
  outline: white;
  border: 4px solid #ccc;
  border-radius: 20px;
  padding: 15px 10px;
  display: block;
  font: inherit;
  box-sizing: border-box;
  width: 100%;
  transition: background-color 0.3s;
  &:focus {
    outline: white;
    background: wheat;
  }
  &.Invalid {
    background: transparentize(crimson, 0.9);
    border: 4px solid crimson;
  }
}